{% extends 'layout.html.twig' %}

{% block body %}
    {% set url = frontend_url('reset-password/confirm', {'token': token.value} ) %}

    <p>Please click the link below to reset your password. This link expires in 10 minutes and can only be used once.</p>
    <a class="button" href="{{ url }}">Reset password</a>
{% endblock %}